@font-face{
    font-family: MinecraftBold;
    src:url(MinecraftBold-nMK1.otf);
}
@font-face{
    font-family: MinecraftRegular;
    src:url(MinecraftRegular-Bmg3.otf);
}
body{
    justify-content: center;    
    display: flex;
}
#Box1{
    border: 1px solid;
    height: 50px;
    width: 100px;
    background-color: black;
    color: white;
    font-size: 35px;
    float: top;
    position: sticky;
    position:fixed;
    left: 0px;
}
#Box2{
    height: 30px;
    width: 100px; 
    left: 2450px;   
    color: white;
    float: right;
    position: sticky;
    font-size: small;
    border: 1px solid;
    height: 260px;
    width: 200px;
    background-color: black;
}
a{
    font-family: "MinecraftRegular";
    color: white;
}
